@import '../../../variables.scss';

label{
    
    cursor: pointer;
    
    font-size: 0.5rem;
    
    .ctional{
        opacity: 1.0;
        width: 2.1rem;
        display: inline-block;
        
        transition: width 0.4s ease-in, opacity 0.2s linear 0.4s;
    }    
    
    input[type="checkbox"]:checked ~  .ctional{
        opacity: 0.0;
        width: 0;
    
        transition: width 0.4s ease-in 0.2s, opacity 0.2s linear;
    }
    
    SVG{
        height: 1.75rem;
        width: auto;
        
        fill: #FFF;
        stroke: #FFF;
        color: #FFF;
    }
    
    
    input[type="checkbox"]{
    	opacity: 0;
    	display: none;
    	vertical-align: top;
    	z-index: 100;
    }
    
    .line{
        fill:none;
        stroke: currentColor;
        stroke-width:2.5;
        stroke-miterlimit:10;
    }
    
    input[type="checkbox"]:checked ~ svg{
    
    	.toggle{
    	    -ms-transform: translateX(27px); /* IE 9 */
            -webkit-transform: translateX(27px); /* Safari */
            transform: translateX(27px);
            
            stroke: $accentColour;
    	}
    }
    
    .toggle{
        transition: all 0.5s ease-in;
    }
}