$radarSpeed: 1.25s;

@keyframes expand{
	0% {
		r: 0;
	}
	100% {
		r: 150;
	}
}

@keyframes fade{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	} 
}

@-moz-keyframes expand{
	0% {
		r: 0;
	}
	100% {
		r: 150;
	}
}

@-moz-keyframes fade{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	} 
}


#where-wrapper{

    width: 30rem;
    
    .location{
        
    	stroke: #F2642A;
    	stroke-width: 10;
    	stroke-miterlimit: 10;
    	cx: 342.112;
    	cy: 1038.682;
    	r: 100;
    	opacity: 1;
    	fill: none;
    	
        -moz-animation: expand (4 * $radarSpeed) linear infinite,
	               fade (4 * $radarSpeed) ease infinite;
    	
	    animation: expand (4 * $radarSpeed) linear infinite,
	               fade (4 * $radarSpeed) ease infinite;
    
    }
    
//  #circle1{animation-delay: 0;}
    #circle2{animation-delay: $radarSpeed;}
    #circle3{animation-delay: $radarSpeed * 2;}
    #circle4{animation-delay: $radarSpeed * 3;}
    
    
    
    
    // #circles{
        
    // 	.expanding{
    // 		r: 150;
    // 		opacity:0;
    
    // 		transition: r (3 * $radarSpeed) linear, opacity $radarSpeed ease (2 * $radarSpeed);
    // 	}
    	
    // }
}