<p>
  ABOUT ME, YO!
  
  <div class="wrapper"><button class="button2" (click)='backgroundGeneratorService.toggleColour()'>TOGGLE COLOUR</button></div>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora bah rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>
  
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quisquam aut suscipit eaque, accusantium deserunt esse cupiditate numquam repellat ducimus iste debitis beatae quod, incidunt mollitia voluptas perspiciatis nemo molestias.</p>
  <p>Tempora rem fuga molestiae! Ab quam quos quidem obcaecati consequatur fugit vitae tenetur ipsum alias cupiditate odit tempore dolor fugiat, iure molestiae voluptatem. Architecto sunt veritatis voluptas. Soluta odio, a!</p>
  <p>Minus provident dignissimos, eum voluptate odit et necessitatibus deleniti quia, pariatur non fugit est harum odio aspernatur eos soluta aut debitis nesciunt quaerat asperiores iusto! Esse, tempore incidunt ut vero.</p>
  <p>Provident nesciunt corporis quam soluta. Tempora laborum quisquam maxime cupiditate reprehenderit aliquid, inventore beatae sunt dignissimos at doloremque eum unde blanditiis? Non, fugit est saepe quasi sapiente commodi, iste molestiae.</p>