<svg width="100%" viewBox="-50 -50 980 1550">
    <style type="text/css">
    @keyframes dash-draw {
	  to {
	    stroke-dashoffset: 0;
	  }
	}
	
	@keyframes wobble{
		0%{ transform: rotate(0deg); }
		25%{ transform: rotate(-8deg); }
		50%{ transform: rotate(-20deg); }
		75%{ transform: rotate(-5deg); }
		100%{ transform: rotate(0deg); }
	}
    
    
     tspan{ white-space: pre; }
     
 	 #Art{
 	 	animation: wobble 2s linear infinite;
 	 }
    </style>
	
	<g id="Code">
		<g>
			<defs>
				<rect id="SVGID_1_" x="153" y="143" width="576" height="324"/>
			</defs>
			<clipPath id="SVGID_2_">
				<use xlink:href="#SVGID_1_"  overflow="visible"/>
			</clipPath>
			<g clip-path="url(#SVGID_2_)">
			    
		        <text #code fill="white" [attr.transform]="codeTextTransform"
		        	font-family="Source Code Pro" font-size="20"
		        	[attr.y]="codeTextTop" id="code-content">
                </text>
			</g>
		</g>
		<rect x="153" y="143" fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" width="576" height="324"/>
		<path fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" d="M129.342,492.905
			C122.323,485.699,118,475.854,118,465V148c0-22.091,17.909-40,40-40h566c22.092,0,40,17.909,40,40v317
			c0,10.916-4.373,20.811-11.463,28.028"/>
		<path fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" d="M831,494c0,26.684-21.631,48-48.314,48H99.029
			c-26.684,0-48.315-21.316-48.315-48H831z"/>
	</g>
	
	<g #canvas>
		
	</g>
	<!--<path #drawing fill="none" stroke="white"-->
	<!--	stroke-linejoin="round" stroke-linecap="round"-->
	<!--	stroke-width="6"
	     	stroke-dasharray="400"
	     	stroke-dashoffset="400"
	     	id="artPath" d="M300,1127 l0,100 l100,0 l0,-100 l0,0z"/>-->
	
	<!--437, 1210-->
	<g id="Art" #art>
		<polygon fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" points="272.396,-540.961
			7.623,-82.361 2.336,-5.029 66.664,-48.273 331.438,-506.873 	"/>
		<polyline fill="#FFFFFF" points="2.336,-5.029 30.515,-23.972 4.652,-38.904 2.336,-5.029 	"/>
			<line fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" x1="7.395" y1="-82.354" x2="66.717" y2="-48.103"/>		
			<line fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" x1="311.299" y1="-517.73" x2="47.048" y2="-60.035"/>
			<line fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" x1="27.563" y1="-71.286" x2="291.813" y2="-528.98"/>
		<!--<animateMotion dur="2s" repeatCount="indefinite"-->
		<!--    path="M300,1127 l0,100 l100,0 l0,-100 l0,0z"/>-->
	</g>
</svg>