<head>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<svg class="backgroundSVG" z-index="-2">
    <defs>
      <pattern id="pattern"  width="576"
        height="288" patternUnits="userSpaceOnUse">
        
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="72,0 63,63 0,72 0,0 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[1]" class="triangleColour triangleColour1"  points="72,0 99,36 72,72 36,99 0,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[2]" class="triangleColour triangleColour2"  points="72,0 135,9 144,72 108,99 72,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[3]" class="triangleColour triangleColour3"  points="72,0 144,0 171,36 144,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[4]" class="triangleColour triangleColour0"  points="72,144 63,81 0,72 0,144 36,171 72,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[5]" class="triangleColour triangleColour3"  points="72,144 99,108 72,72 0,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[6]" class="triangleColour triangleColour0"  points="72,144 135,135 144,72 72,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[7]" class="triangleColour triangleColour3"  points="72,144 108,171 144,144 171,108 144,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[8]" class="triangleColour triangleColour0"  points="72,144 63,207 0,216 0,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[9]" class="triangleColour triangleColour1"  points="72,144 99,180 72,216 36,243 0,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[10]" class="triangleColour triangleColour2"  points="72,144 135,153 144,216 108,243 72,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[11]" class="triangleColour triangleColour3"  points="72,144 144,144 171,180 144,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[12]" class="triangleColour triangleColour0"  points="72,288 63,225 0,216 0,288 36,315 72,288 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[13]" class="triangleColour triangleColour3"  points="72,288 99,252 72,216 0,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[14]" class="triangleColour triangleColour0"  points="72,288 135,279 144,216 72,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[15]" class="triangleColour triangleColour3"  points="72,288 108,315 144,288 171,252 144,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[16]" class="triangleColour triangleColour0"  points="216,0 207,63 144,72 144,0 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[17]" class="triangleColour triangleColour1"  points="216,0 243,36 216,72 180,99 144,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[18]" class="triangleColour triangleColour2"  points="216,0 279,9 288,72 252,99 216,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[19]" class="triangleColour triangleColour3"  points="216,0 288,0 315,36 288,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[20]" class="triangleColour triangleColour0"  points="216,144 207,81 144,72 144,144 180,171 216,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[21]" class="triangleColour triangleColour3"  points="216,144 243,108 216,72 144,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[22]" class="triangleColour triangleColour0"  points="216,144 279,135 288,72 216,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[23]" class="triangleColour triangleColour3"  points="216,144 252,171 288,144 315,108 288,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[24]" class="triangleColour triangleColour2"  points="216,144 207,207 144,216 144,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[25]" class="triangleColour triangleColour1"  points="216,144 243,180 216,216 180,243 144,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[26]" class="triangleColour triangleColour2"  points="216,144 279,153 288,216 252,243 216,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[27]" class="triangleColour triangleColour3"  points="216,144 288,144 315,180 288,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[28]" class="triangleColour triangleColour0"  points="216,288 207,225 144,216 144,288 180,315 216,288 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[29]" class="triangleColour triangleColour3"  points="216,288 243,252 216,216 144,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[30]" class="triangleColour triangleColour0"  points="216,288 279,279 288,216 216,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[31]" class="triangleColour triangleColour3"  points="216,288 252,315 288,288 315,252 288,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[32]" class="triangleColour triangleColour0"  points="360,0 351,63 288,72 288,0 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[33]" class="triangleColour triangleColour1"  points="360,0 387,36 360,72 324,99 288,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[34]" class="triangleColour triangleColour2"  points="360,0 423,9 432,72 396,99 360,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[35]" class="triangleColour triangleColour3"  points="360,0 432,0 459,36 432,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[36]" class="triangleColour triangleColour0"  points="360,144 351,81 288,72 288,144 324,171 360,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[37]" class="triangleColour triangleColour3"  points="360,144 387,108 360,72 288,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[38]" class="triangleColour triangleColour0"  points="360,144 423,135 432,72 360,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[39]" class="triangleColour triangleColour3"  points="360,144 396,171 432,144 459,108 432,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[40]" class="triangleColour triangleColour0"  points="360,144 351,207 288,216 288,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[41]" class="triangleColour triangleColour1"  points="360,144 387,180 360,216 324,243 288,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[42]" class="triangleColour triangleColour2"  points="360,144 423,153 432,216 396,243 360,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[43]" class="triangleColour triangleColour3"  points="360,144 432,144 459,180 432,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[44]" class="triangleColour triangleColour0"  points="360,288 351,225 288,216 288,288 324,315 360,288 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[45]" class="triangleColour triangleColour3"  points="360,288 387,252 360,216 288,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[46]" class="triangleColour triangleColour0"  points="360,288 423,279 432,216 360,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[47]" class="triangleColour triangleColour3"  points="360,288 396,315 432,288 459,252 432,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[48]" class="triangleColour triangleColour0"  points="504,0 495,63 432,72 432,0 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[49]" class="triangleColour triangleColour1"  points="504,0 531,36 504,72 468,99 432,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[50]" class="triangleColour triangleColour2"  points="504,0 567,9 576,72 540,99 504,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[51]" class="triangleColour triangleColour3"  points="504,0 576,0 603,36 576,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="504,144 495,81 432,72 432,144 468,171 504,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,144 531,108 504,72 432,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="504,144 567,135 576,72 504,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,144 540,171 576,144 603,108 576,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="504,144 495,207 432,216 432,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour1"  points="504,144 531,180 504,216 468,243 432,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="504,144 567,153 576,216 540,243 504,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,144 576,144 603,180 576,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="504,288 495,225 432,216 432,288 468,315 504,288 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,288 531,252 504,216 432,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="504,288 567,279 576,216 504,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,288 540,315 576,288 603,252 576,216 "/>
      </pattern>
    </defs>
  
    <rect fill="url(#pattern)" width="100%" height="100%"/>
</svg>

<svg class="headerSVG" z-index="-1">
    <defs>
      <pattern id="darkPattern"  width="576"
        height="288" patternUnits="userSpaceOnUse">
        
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0" points="72,0 63,63 0,72 0,0 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[1]" class="triangleColour triangleColour1"  points="72,0 99,36 72,72 36,99 0,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[2]" class="triangleColour triangleColour2"  points="72,0 135,9 144,72 108,99 72,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[3]" class="triangleColour triangleColour3"  points="72,0 144,0 171,36 144,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[4]" class="triangleColour triangleColour0"  points="72,144 63,81 0,72 0,144 36,171 72,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[5]" class="triangleColour triangleColour3"  points="72,144 99,108 72,72 0,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[6]" class="triangleColour triangleColour0"  points="72,144 135,135 144,72 72,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[7]" class="triangleColour triangleColour3"  points="72,144 108,171 144,144 171,108 144,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[8]" class="triangleColour triangleColour0"  points="72,144 63,207 0,216 0,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[9]" class="triangleColour triangleColour1"  points="72,144 99,180 72,216 36,243 0,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[10]" class="triangleColour triangleColour2"  points="72,144 135,153 144,216 108,243 72,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[11]" class="triangleColour triangleColour3"  points="72,144 144,144 171,180 144,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[12]" class="triangleColour triangleColour0"  points="72,288 63,225 0,216 0,288 36,315 72,288 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[13]" class="triangleColour triangleColour3"  points="72,288 99,252 72,216 0,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[14]" class="triangleColour triangleColour0"  points="72,288 135,279 144,216 72,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[15]" class="triangleColour triangleColour3"  points="72,288 108,315 144,288 171,252 144,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="216,0 207,63 144,72 144,0 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour1"  points="216,0 243,36 216,72 180,99 144,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="216,0 279,9 288,72 252,99 216,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="216,0 288,0 315,36 288,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="216,144 207,81 144,72 144,144 180,171 216,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="216,144 243,108 216,72 144,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="216,144 279,135 288,72 216,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="216,144 252,171 288,144 315,108 288,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="216,144 207,207 144,216 144,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour1"  points="216,144 243,180 216,216 180,243 144,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="216,144 279,153 288,216 252,243 216,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="216,144 288,144 315,180 288,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="216,288 207,225 144,216 144,288 180,315 216,288 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="216,288 243,252 216,216 144,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="216,288 279,279 288,216 216,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="216,288 252,315 288,288 315,252 288,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="360,0 351,63 288,72 288,0 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour1"  points="360,0 387,36 360,72 324,99 288,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="360,0 423,9 432,72 396,99 360,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="360,0 432,0 459,36 432,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="360,144 351,81 288,72 288,144 324,171 360,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="360,144 387,108 360,72 288,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="360,144 423,135 432,72 360,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="360,144 396,171 432,144 459,108 432,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="360,144 351,207 288,216 288,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour1"  points="360,144 387,180 360,216 324,243 288,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="360,144 423,153 432,216 396,243 360,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="360,144 432,144 459,180 432,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="360,288 351,225 288,216 288,288 324,315 360,288 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="360,288 387,252 360,216 288,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="360,288 423,279 432,216 360,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="360,288 396,315 432,288 459,252 432,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="504,0 495,63 432,72 432,0 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour1"  points="504,0 531,36 504,72 468,99 432,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="504,0 567,9 576,72 540,99 504,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,0 576,0 603,36 576,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="504,144 495,81 432,72 432,144 468,171 504,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,144 531,108 504,72 432,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="504,144 567,135 576,72 504,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,144 540,171 576,144 603,108 576,72 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="504,144 495,207 432,216 432,144 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour1"  points="504,144 531,180 504,216 468,243 432,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour2"  points="504,144 567,153 576,216 540,243 504,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,144 576,144 603,180 576,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="504,288 495,225 432,216 432,288 468,315 504,288 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,288 531,252 504,216 432,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour0"  points="504,288 567,279 576,216 504,216 "/>
        <polygon [style.transition]="backgroundGeneratorService.bgTransitions[0]" class="triangleColour triangleColour3"  points="504,288 540,315 576,288 603,252 576,216 "/>
      </pattern>
    </defs>
  
    <rect fill="url(#darkPattern)" width="100%" height="100%"/>
</svg>

<aw-header></aw-header>

<main class="container-fluid"
  [style.color]="backgroundGeneratorService.textColour"
  [@routerTransition]="getState(o)">
  
  <router-outlet #o="outlet"></router-outlet>
</main>

<aw-footer></aw-footer>