aw-header, main, aw-footer{
    position: relative;
}

.backgroundSVG, .headerSVG{

    position: fixed;
    
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    
    height: 100%;
        

  
}

.headerSVG{
 height: 6rem;
}