<div class="backgroundSVG" z-index="-2" [inlineSVG]="'assets/images/background.svg'"></div>

<!--<div class="headerSVG" z-index="-1" [inlineSVG]="'assets/images/background.svg'"></div>-->

<aw-header></aw-header>

<main class="container-fluid"
  [style.color]="backgroundGeneratorService.textColour"
  [@routerTransition]="getState(o)">
  
  <router-outlet #o="outlet"></router-outlet>
</main>

<aw-footer></aw-footer>


<!--Add temporary classes to header items to set slow transitions,
just while page transitions happen, then remove? -->