#bgt1{transition: fill 0.856681s linear 1.43438s;}
#bgt2{transition: fill 1.76872s ease-in 0.383488s;}
#bgt3{transition: fill 1.37831s ease-in-out 0.815169s;}
#bgt4{transition: fill 1.71593s linear 0.457597s;}
#bgt5{transition: fill 1.22747s ease-out 0.924388s;}
#bgt6{transition: fill 1.05044s linear 1.4413s;}
#bgt7{transition: fill 1.86514s ease-in-out 0.400116s;}
#bgt8{transition: fill 1.83978s linear 0.38057s;}
#bgt9{transition: fill 1.4477s ease-in 1.12338s;}
#bgt10{transition: fill 0.998236s linear 1.10622s;}
#bgt11{transition: fill 1.2544s ease-in 1.313s;}
#bgt12{transition: fill 1.78125s ease-in 0.258894s;}
#bgt13{transition: fill 0.662034s ease-in-out 1.97736s;}
#bgt14{transition: fill 0.519667s ease-in 2.20052s;}
#bgt15{transition: fill 0.652721s ease-in-out 1.83022s;}
#bgt16{transition: fill 0.881533s linear 1.79516s;}
#bgt17{transition: fill 1.84517s ease-out 0.914722s;}
#bgt18{transition: fill 1.58044s ease-out 1.32718s;}
#bgt19{transition: fill 1.89292s ease-in 0.484747s;}
#bgt20{transition: fill 1.84963s linear 0.929246s;}
#bgt21{transition: fill 0.986382s ease-out 1.20785s;}
#bgt22{transition: fill 1.99333s ease-out 0.167967s;}
#bgt23{transition: fill 1.56205s ease-in-out 0.939467s;}
#bgt24{transition: fill 1.90445s linear 0.811872s;}
#bgt25{transition: fill 0.657786s linear 1.55142s;}
#bgt26{transition: fill 1.33909s ease-out 1.36634s;}
#bgt27{transition: fill 0.61735s linear 1.89318s;}
#bgt28{transition: fill 0.794296s ease-out 1.47991s;}
#bgt29{transition: fill 1.4579s linear 0.990304s;}
#bgt30{transition: fill 0.559808s ease-in 1.90744s;}
#bgt31{transition: fill 0.616635s ease-in 1.42147s;}
#bgt32{transition: fill 0.740067s ease-out 1.65777s;}
#bgt33{transition: fill 1.53335s ease-in-out 1.00137s;}
#bgt34{transition: fill 1.53038s ease-in-out 0.742077s;}
#bgt35{transition: fill 1.1989s ease-out 1.07766s;}
#bgt36{transition: fill 1.17513s ease-in-out 1.75994s;}
#bgt37{transition: fill 0.630398s ease-in-out 1.82349s;}
#bgt38{transition: fill 1.91844s ease-in 0.937281s;}
#bgt39{transition: fill 0.681465s ease-in-out 1.3327s;}
#bgt40{transition: fill 0.851772s ease-in-out 2.01454s;}
#bgt41{transition: fill 1.15609s ease-in 1.61346s;}
#bgt42{transition: fill 1.811s linear 0.565929s;}
#bgt43{transition: fill 1.91649s ease-in-out 0.882001s;}
#bgt44{transition: fill 1.75795s linear 1.18871s;}
#bgt45{transition: fill 1.37908s ease-out 1.22009s;}
#bgt46{transition: fill 0.979021s ease-out 1.44214s;}
#bgt47{transition: fill 1.85616s ease-in-out 0.302302s;}
#bgt48{transition: fill 1.75274s ease-out 0.979202s;}
#bgt49{transition: fill 1.23776s linear 0.974374s;}
#bgt50{transition: fill 0.679629s linear 1.36873s;}
#bgt51{transition: fill 1.13904s ease-out 1.18674s;}
#bgt52{transition: fill 0.656993s ease-out 1.77192s;}
#bgt53{transition: fill 1.43472s linear 1.18398s;}
#bgt54{transition: fill 1.67s ease-out 0.818036s;}
#bgt55{transition: fill 1.98433s linear 0.941526s;}
#bgt56{transition: fill 1.46326s ease-in 1.2841s;}
#bgt57{transition: fill 1.93485s ease-out 0.581112s;}
#bgt58{transition: fill 0.832097s ease-in 1.46753s;}
#bgt59{transition: fill 1.71524s linear 0.291117s;}
#bgt60{transition: fill 0.920855s ease-in 1.99832s;}
#bgt61{transition: fill 1.05107s linear 1.35618s;}
#bgt62{transition: fill 1.81175s linear 1.1405s;}
#bgt63{transition: fill 1.98554s linear 0.164864s;}
#bgt64{transition: fill 1.32235s ease-in 0.914779s;}
#bgt65{transition: fill 1.65777s ease-out 0.800997s;}
#bgt66{transition: fill 1.59683s ease-out 0.600321s;}
#bgt67{transition: fill 1.21057s ease-out 1.71323s;}
#bgt68{transition: fill 1.7883s ease-in 1.1575s;}
#bgt69{transition: fill 1.09953s ease-in 1.24578s;}
#bgt70{transition: fill 0.801547s ease-in 1.52046s;}
#bgt71{transition: fill 1.00426s ease-in 1.56643s;}
#bgt72{transition: fill 1.1555s ease-in-out 1.71889s;}
#bgt73{transition: fill 1.46591s linear 1.05203s;}
#bgt74{transition: fill 1.84231s ease-in 0.996891s;}
#bgt75{transition: fill 1.45654s ease-in-out 1.01979s;}
#bgt76{transition: fill 1.13448s ease-in-out 0.87456s;}
#bgt77{transition: fill 1.4123s linear 1.51525s;}
#bgt78{transition: fill 1.02306s linear 1.22975s;}
#bgt79{transition: fill 1.11692s linear 1.12952s;}
#bgt80{transition: fill 1.96757s ease-in-out 0.502648s;}
#bgt81{transition: fill 1.52352s ease-in 1.27858s;}
#bgt82{transition: fill 1.77569s ease-in-out 0.500796s;}
#bgt83{transition: fill 1.4034s ease-in-out 1.30353s;}
#bgt84{transition: fill 0.70377s ease-in 2.05522s;}
#bgt85{transition: fill 1.06654s ease-in-out 1.09115s;}
#bgt86{transition: fill 1.46858s ease-in-out 1.16669s;}
#bgt87{transition: fill 1.34169s ease-in-out 0.861612s;}
#bgt88{transition: fill 1.92599s ease-in-out 0.981238s;}
#bgt89{transition: fill 1.1348s ease-out 1.5098s;}
#bgt90{transition: fill 1.91634s ease-out 0.838047s;}
#bgt91{transition: fill 1.64112s ease-in 0.400195s;}
#bgt92{transition: fill 1.94074s ease-in 0.387135s;}
#bgt93{transition: fill 1.60268s ease-in-out 1.00694s;}
#bgt94{transition: fill 1.34283s linear 1.20942s;}
#bgt95{transition: fill 1.55397s ease-in-out 0.696912s;}
#bgt96{transition: fill 1.23203s ease-out 1.02784s;}
#bgt97{transition: fill 1.57795s ease-in 0.871907s;}
#bgt98{transition: fill 1.47051s linear 0.650206s;}
#bgt99{transition: fill 0.566776s linear 2.33661s;}
#bgt100{transition: fill 1.77377s linear 0.475096s;}
#bgt101{transition: fill 1.39127s ease-in 1.40394s;}
#bgt102{transition: fill 0.675826s ease-in 1.77756s;}
#bgt103{transition: fill 0.536113s linear 1.92496s;}
#bgt104{transition: fill 1.0032s ease-in 1.97621s;}
#bgt105{transition: fill 1.24602s ease-out 1.1462s;}
#bgt106{transition: fill 0.84713s ease-out 2.02198s;}
#bgt107{transition: fill 1.01817s ease-in-out 1.75026s;}
#bgt108{transition: fill 1.6662s ease-in 0.719467s;}
#bgt109{transition: fill 0.969816s ease-in-out 1.6921s;}
#bgt110{transition: fill 1.8721s ease-in-out 0.45391s;}
#bgt111{transition: fill 1.35867s ease-out 1.19215s;}
#bgt112{transition: fill 0.531559s ease-out 2.17182s;}
#bgt113{transition: fill 1.25822s ease-in-out 1.09772s;}
#bgt114{transition: fill 1.44864s ease-out 0.786054s;}
#bgt115{transition: fill 1.91244s linear 0.165034s;}
#bgt116{transition: fill 1.7547s ease-in 0.459462s;}
#bgt117{transition: fill 1.05778s ease-in-out 0.959797s;}
#bgt118{transition: fill 1.47927s linear 0.734701s;}
#bgt119{transition: fill 1.1259s ease-in 1.24203s;}
#bgt120{transition: fill 0.912746s ease-in-out 1.78562s;}
#bgt121{transition: fill 1.01444s ease-in 1.27275s;}
#bgt122{transition: fill 0.562365s ease-in 2.23996s;}
#bgt123{transition: fill 1.76547s ease-in-out 1.03867s;}
#bgt124{transition: fill 0.698008s ease-in-out 2.16912s;}
#bgt125{transition: fill 1.21513s ease-in-out 0.823509s;}
#bgt126{transition: fill 1.38633s linear 0.907208s;}
#bgt127{transition: fill 1.31663s ease-out 0.71581s;}
#bgt128{transition: fill 0.938461s linear 1.07248s;}
#bgt129{transition: fill 1.19119s ease-in-out 0.916613s;}
#bgt130{transition: fill 0.842786s ease-in 1.43026s;}
#bgt131{transition: fill 0.764636s ease-out 1.26097s;}
#bgt132{transition: fill 0.911707s linear 1.95694s;}
#bgt133{transition: fill 1.49579s ease-in 1.28529s;}
#bgt134{transition: fill 0.851699s ease-in-out 1.40684s;}
#bgt135{transition: fill 1.57942s ease-in-out 0.475657s;}
#bgt136{transition: fill 0.551726s ease-in-out 1.9801s;}
#bgt137{transition: fill 1.88607s ease-in 0.269397s;}
#bgt138{transition: fill 0.536872s ease-in 1.83315s;}
#bgt139{transition: fill 0.70768s linear 2.20824s;}
#bgt140{transition: fill 0.952374s ease-in 1.66242s;}
#bgt141{transition: fill 0.915068s ease-in 1.27638s;}
#bgt142{transition: fill 1.27618s ease-out 0.813719s;}
#bgt143{transition: fill 1.46109s ease-in 1.20068s;}
#bgt144{transition: fill 1.04773s ease-in-out 1.82291s;}
#bgt145{transition: fill 0.839861s ease-out 2.01914s;}
#bgt146{transition: fill 0.640545s ease-out 1.39478s;}
#bgt147{transition: fill 0.66919s ease-in-out 2.28007s;}
#bgt148{transition: fill 0.745128s ease-in-out 1.79014s;}
#bgt149{transition: fill 1.32927s ease-out 0.876424s;}
#bgt150{transition: fill 1.12949s ease-in 1.70744s;}
#bgt151{transition: fill 0.80729s ease-in 1.67273s;}
#bgt152{transition: fill 0.767578s linear 1.75377s;}
#bgt153{transition: fill 1.7128s ease-out 1.13731s;}
#bgt154{transition: fill 1.47865s ease-in-out 1.01743s;}
#bgt155{transition: fill 0.950317s ease-in 1.4819s;}
#bgt156{transition: fill 0.949017s ease-in 1.82708s;}
#bgt157{transition: fill 1.72211s ease-in 0.683516s;}
#bgt158{transition: fill 1.54873s linear 0.694843s;}
#bgt159{transition: fill 0.914025s ease-in-out 1.6543s;}
#bgt160{transition: fill 1.36889s ease-in 0.671162s;}
#bgt161{transition: fill 0.72179s ease-out 1.65459s;}
#bgt162{transition: fill 1.47414s ease-in-out 1.35171s;}
#bgt163{transition: fill 1.77718s ease-in-out 0.348745s;}
#bgt164{transition: fill 1.99186s ease-in 0.666572s;}
#bgt165{transition: fill 1.15927s ease-out 1.51471s;}
#bgt166{transition: fill 1.89878s ease-out 0.753356s;}
#bgt167{transition: fill 1.56083s linear 1.18088s;}
#bgt168{transition: fill 0.910296s ease-in-out 1.28728s;}
#bgt169{transition: fill 1.02956s ease-in 1.34806s;}
#bgt170{transition: fill 1.62147s linear 1.26463s;}
#bgt171{transition: fill 1.70303s ease-out 0.400572s;}
#bgt172{transition: fill 1.57759s ease-out 1.41751s;}
#bgt173{transition: fill 0.779832s ease-out 1.92418s;}
#bgt174{transition: fill 1.69087s linear 0.743771s;}
#bgt175{transition: fill 0.644616s ease-in-out 1.81695s;}
#bgt176{transition: fill 0.998293s ease-in-out 1.56048s;}
#bgt177{transition: fill 1.12666s ease-in 1.38481s;}
#bgt178{transition: fill 1.32018s ease-out 1.3394s;}
#bgt179{transition: fill 1.41326s ease-in-out 1.359s;}
#bgt180{transition: fill 0.961297s ease-in-out 1.89908s;}
#bgt181{transition: fill 0.599098s ease-in-out 1.88663s;}
#bgt182{transition: fill 0.98398s linear 1.54353s;}
#bgt183{transition: fill 0.511305s ease-in-out 1.67462s;}
#bgt184{transition: fill 1.5609s ease-in 0.954898s;}
#bgt185{transition: fill 1.04886s ease-out 0.96948s;}
#bgt186{transition: fill 1.27162s ease-out 1.543s;}
#bgt187{transition: fill 0.870263s ease-out 1.67592s;}
#bgt188{transition: fill 0.983427s ease-out 1.15359s;}
#bgt189{transition: fill 1.31396s ease-out 0.927834s;}
#bgt190{transition: fill 1.22806s ease-in 1.53333s;}
#bgt191{transition: fill 0.994572s ease-in 1.91441s;}
#bgt192{transition: fill 1.92355s ease-in 0.173343s;}
#bgt193{transition: fill 1.20992s ease-out 0.912786s;}
#bgt194{transition: fill 1.92283s ease-in 0.877178s;}
#bgt195{transition: fill 1.8889s ease-out 1.03161s;}
#bgt196{transition: fill 1.36841s linear 0.650042s;}
#bgt197{transition: fill 1.53865s linear 1.0863s;}
#bgt198{transition: fill 0.915632s ease-in-out 2.06867s;}
#bgt199{transition: fill 1.58901s ease-in-out 1.41053s;}
#bgt200{transition: fill 0.795673s linear 1.75448s;}
#bgt201{transition: fill 1.89167s ease-out 0.783758s;}
#bgt202{transition: fill 1.3423s ease-in-out 1.02125s;}
#bgt203{transition: fill 1.20073s linear 0.984818s;}
#bgt204{transition: fill 0.770992s ease-in 1.59622s;}
#bgt205{transition: fill 0.606841s linear 2.2583s;}
#bgt206{transition: fill 0.949677s ease-in 1.44652s;}
#bgt207{transition: fill 1.78664s ease-in 0.403316s;}
#bgt208{transition: fill 1.62308s ease-in-out 0.54341s;}
#bgt209{transition: fill 1.51694s ease-in 0.707809s;}
#bgt210{transition: fill 1.8265s ease-in 0.666676s;}
#bgt211{transition: fill 0.898156s linear 1.67481s;}
#bgt212{transition: fill 1.15002s ease-in-out 1.34939s;}
#bgt213{transition: fill 1.9777s ease-in 0.330086s;}
#bgt214{transition: fill 1.75295s ease-in-out 1.08989s;}
#bgt215{transition: fill 0.54314s ease-in-out 2.19289s;}
#bgt216{transition: fill 0.877736s ease-in 1.73999s;}
#bgt217{transition: fill 1.4541s ease-in 0.696381s;}
#bgt218{transition: fill 1.94766s ease-out 0.264289s;}
#bgt219{transition: fill 1.6372s ease-in-out 0.443218s;}
#bgt220{transition: fill 0.826159s ease-in 1.93392s;}
#bgt221{transition: fill 0.50282s ease-out 1.98443s;}
#bgt222{transition: fill 0.872967s ease-out 1.70539s;}
#bgt223{transition: fill 1.231s linear 1.20537s;}
#bgt224{transition: fill 1.2999s ease-out 0.706646s;}
#bgt225{transition: fill 0.693868s ease-out 1.38393s;}
#bgt226{transition: fill 1.8167s ease-in 0.987029s;}
#bgt227{transition: fill 1.58636s ease-out 0.716821s;}
#bgt228{transition: fill 0.982449s linear 1.03162s;}
#bgt229{transition: fill 1.45852s ease-in-out 1.45758s;}
#bgt230{transition: fill 1.85061s linear 0.775804s;}
#bgt231{transition: fill 1.43894s ease-in-out 1.38414s;}
#bgt232{transition: fill 1.05985s linear 1.24117s;}
#bgt233{transition: fill 1.96466s ease-in 0.573311s;}
#bgt234{transition: fill 1.85229s linear 0.516393s;}
#bgt235{transition: fill 1.33135s ease-out 1.40354s;}
#bgt236{transition: fill 0.653169s linear 1.52017s;}
#bgt237{transition: fill 0.557723s ease-in 1.78054s;}
#bgt238{transition: fill 1.60169s ease-in 0.990526s;}
#bgt239{transition: fill 1.67326s ease-in 0.857636s;}
#bgt240{transition: fill 1.54608s ease-out 0.829267s;}
#bgt241{transition: fill 1.40015s ease-in 1.08428s;}
#bgt242{transition: fill 1.96641s ease-in 0.276633s;}
#bgt243{transition: fill 1.72402s linear 0.525336s;}
#bgt244{transition: fill 1.62315s ease-in-out 1.11075s;}
#bgt245{transition: fill 0.562535s ease-in-out 2.31446s;}
#bgt246{transition: fill 1.57974s ease-in-out 1.16885s;}
#bgt247{transition: fill 1.22692s linear 1.50952s;}
#bgt248{transition: fill 1.03125s ease-in-out 1.95898s;}
#bgt249{transition: fill 0.711072s ease-in 1.39475s;}
#bgt250{transition: fill 0.97665s linear 1.09925s;}
#bgt251{transition: fill 0.734477s ease-out 1.63928s;}
#bgt252{transition: fill 0.70076s ease-in 1.43496s;}
#bgt253{transition: fill 1.43446s ease-out 1.43716s;}
#bgt254{transition: fill 1.17497s linear 1.76235s;}
#bgt255{transition: fill 1.06053s ease-in 1.84642s;}
#bgt256{transition: fill 1.87024s linear 0.1725s;}
#bgt257{transition: fill 0.680798s ease-in 2.31754s;}
#bgt258{transition: fill 1.7031s linear 0.823205s;}
#bgt259{transition: fill 1.74423s linear 0.406889s;}
#bgt260{transition: fill 0.747776s ease-in 2.05642s;}
#bgt261{transition: fill 1.58045s linear 1.04026s;}
#bgt262{transition: fill 0.870698s linear 2.00239s;}
#bgt263{transition: fill 1.54424s ease-in 0.525149s;}
#bgt264{transition: fill 1.05561s ease-in-out 1.29124s;}
#bgt265{transition: fill 1.82723s ease-out 0.959116s;}
#bgt266{transition: fill 0.732549s ease-in-out 1.97672s;}
#bgt267{transition: fill 1.16625s linear 1.38003s;}
#bgt268{transition: fill 1.57943s ease-in 1.17867s;}
#bgt269{transition: fill 0.644552s ease-out 2.18628s;}
#bgt270{transition: fill 1.13458s linear 1.07065s;}
#bgt271{transition: fill 1.60418s linear 0.829329s;}
#bgt272{transition: fill 1.71328s ease-out 0.695671s;}
#bgt273{transition: fill 1.84008s ease-in-out 1.03091s;}
#bgt274{transition: fill 0.671065s linear 2.25899s;}
#bgt275{transition: fill 0.769127s linear 2.15906s;}
#bgt276{transition: fill 1.49313s ease-in 1.21065s;}
#bgt277{transition: fill 1.37116s linear 0.929444s;}
#bgt278{transition: fill 0.573782s ease-in-out 1.96002s;}
#bgt279{transition: fill 0.905365s ease-in 1.71905s;}
#bgt280{transition: fill 1.42197s ease-out 1.33339s;}
#bgt281{transition: fill 1.79177s ease-in 0.387177s;}
#bgt282{transition: fill 0.88227s linear 1.52889s;}
#bgt283{transition: fill 1.67738s ease-out 1.24138s;}
#bgt284{transition: fill 0.581724s linear 2.09573s;}
#bgt285{transition: fill 1.32361s ease-out 1.67544s;}
#bgt286{transition: fill 1.90455s ease-out 0.405501s;}
#bgt287{transition: fill 0.825497s ease-in 1.30499s;}
#bgt288{transition: fill 0.759835s ease-in-out 1.53392s;}
#bgt289{transition: fill 0.938136s linear 1.15602s;}
#bgt290{transition: fill 1.4307s ease-in-out 1.01925s;}
#bgt291{transition: fill 1.40161s linear 1.36465s;}
#bgt292{transition: fill 1.35569s linear 0.935074s;}
#bgt293{transition: fill 1.86721s linear 0.291394s;}
#bgt294{transition: fill 0.547546s ease-in-out 2.18031s;}
#bgt295{transition: fill 1.69588s linear 0.471779s;}
#bgt296{transition: fill 1.27176s ease-out 1.12757s;}
#bgt297{transition: fill 0.778522s ease-out 1.56219s;}
#bgt298{transition: fill 0.574974s linear 1.91917s;}
#bgt299{transition: fill 0.56064s ease-in 2.19941s;}
#bgt300{transition: fill 1.27722s ease-in-out 1.33729s;}
#bgt301{transition: fill 1.16802s linear 1.70038s;}
#bgt302{transition: fill 0.61043s ease-in 2.19931s;}
#bgt303{transition: fill 0.864869s linear 1.18723s;}
#bgt304{transition: fill 1.19159s ease-out 1.16286s;}
#bgt305{transition: fill 0.838164s ease-in-out 1.50132s;}
#bgt306{transition: fill 0.904317s ease-in-out 1.54465s;}
#bgt307{transition: fill 1.06572s ease-out 0.973514s;}
#bgt308{transition: fill 1.61452s ease-in 0.709262s;}
#bgt309{transition: fill 1.43658s ease-in 1.237s;}
#bgt310{transition: fill 0.811065s ease-in 1.66655s;}
#bgt311{transition: fill 0.653048s ease-in 2.06363s;}
#bgt312{transition: fill 1.20806s ease-in-out 1.12516s;}
#bgt313{transition: fill 1.26825s ease-in-out 1.49876s;}
#bgt314{transition: fill 0.767267s ease-in 2.19583s;}
#bgt315{transition: fill 1.8228s ease-out 1.11355s;}
#bgt316{transition: fill 1.4207s linear 0.742174s;}
#bgt317{transition: fill 0.742895s ease-in 1.3554s;}
#bgt318{transition: fill 1.11252s ease-out 1.51283s;}
#bgt319{transition: fill 1.63375s ease-out 1.29531s;}
#bgt320{transition: fill 0.834215s linear 1.68069s;}
#bgt321{transition: fill 1.41359s linear 0.815937s;}
#bgt322{transition: fill 1.51922s ease-in 0.761334s;}
#bgt323{transition: fill 0.570226s ease-out 2.04705s;}
#bgt324{transition: fill 1.86206s ease-in-out 0.957456s;}
#bgt325{transition: fill 1.96718s ease-in-out 0.0426363s;}
#bgt326{transition: fill 1.60652s linear 0.928415s;}
#bgt327{transition: fill 1.55389s ease-in-out 0.663212s;}
#bgt328{transition: fill 1.42465s ease-out 1.37746s;}
#bgt329{transition: fill 0.714249s ease-in 1.47857s;}
#bgt330{transition: fill 1.53045s ease-out 1.19694s;}
#bgt331{transition: fill 1.23115s ease-in-out 0.774428s;}
#bgt332{transition: fill 1.43015s ease-out 0.635297s;}
#bgt333{transition: fill 1.90076s ease-out 0.106701s;}
#bgt334{transition: fill 1.7258s ease-out 0.334647s;}
#bgt335{transition: fill 0.668819s ease-in 1.90478s;}
#bgt336{transition: fill 1.89207s linear 0.261418s;}
#bgt337{transition: fill 1.23947s ease-in 1.52306s;}
#bgt338{transition: fill 0.817227s ease-in 1.77141s;}
#bgt339{transition: fill 1.44181s ease-out 0.929081s;}
#bgt340{transition: fill 1.54201s ease-in-out 0.777049s;}
#bgt341{transition: fill 1.98895s ease-in-out 0.211061s;}
#bgt342{transition: fill 1.51644s linear 1.26322s;}
#bgt343{transition: fill 1.24451s ease-out 1.72387s;}
#bgt344{transition: fill 0.952397s ease-in-out 1.86137s;}
#bgt345{transition: fill 1.37117s linear 1.38779s;}
#bgt346{transition: fill 1.58308s ease-out 1.02084s;}
#bgt347{transition: fill 1.3104s ease-in-out 0.84367s;}
#bgt348{transition: fill 0.975419s ease-in 1.50346s;}
#bgt349{transition: fill 1.36576s linear 1.61976s;}
#bgt350{transition: fill 1.41629s ease-in 0.950401s;}
#bgt351{transition: fill 0.943621s ease-in 1.57494s;}
#bgt352{transition: fill 0.550187s ease-out 2.09233s;}
#bgt353{transition: fill 1.80807s ease-in 0.74346s;}
#bgt354{transition: fill 1.74813s ease-out 1.13077s;}
#bgt355{transition: fill 1.24427s ease-out 1.15995s;}
#bgt356{transition: fill 0.8356s ease-out 1.36626s;}
#bgt357{transition: fill 0.817512s ease-out 2.13184s;}
#bgt358{transition: fill 1.22643s ease-in-out 0.960451s;}
#bgt359{transition: fill 1.10598s ease-in 0.914442s;}
#bgt360{transition: fill 1.73382s ease-in-out 1.23156s;}
#bgt361{transition: fill 0.737287s linear 2.10787s;}
#bgt362{transition: fill 1.35882s ease-in 0.701163s;}
#bgt363{transition: fill 0.598348s ease-in 2.08731s;}
#bgt364{transition: fill 1.62666s ease-out 1.05829s;}
#bgt365{transition: fill 1.53861s linear 0.970996s;}
#bgt366{transition: fill 1.35507s linear 1.32752s;}
#bgt367{transition: fill 0.884294s ease-out 1.29995s;}
#bgt368{transition: fill 1.00661s ease-out 1.82411s;}
#bgt369{transition: fill 1.38986s ease-in 1.41487s;}
#bgt370{transition: fill 1.09003s linear 0.931192s;}
#bgt371{transition: fill 1.08817s ease-out 0.998616s;}
#bgt372{transition: fill 1.10877s ease-in-out 1.28971s;}
#bgt373{transition: fill 1.39773s linear 0.878386s;}
#bgt374{transition: fill 0.583662s ease-out 1.96845s;}
#bgt375{transition: fill 1.28074s ease-in 1.54135s;}
#bgt376{transition: fill 1.45378s linear 0.76285s;}
#bgt377{transition: fill 1.96338s ease-out 0.734263s;}
#bgt378{transition: fill 0.952341s linear 1.88949s;}
#bgt379{transition: fill 1.99384s ease-in 0.318999s;}
#bgt380{transition: fill 1.68758s ease-in-out 0.681313s;}
#bgt381{transition: fill 1.03161s ease-in 1.93366s;}
#bgt382{transition: fill 0.997941s ease-in-out 1.62977s;}
#bgt383{transition: fill 0.719399s ease-in-out 1.46033s;}
#bgt384{transition: fill 1.73336s linear 0.960924s;}
#bgt385{transition: fill 0.868723s ease-in 1.20918s;}
#bgt386{transition: fill 1.93521s linear 0.517778s;}
#bgt387{transition: fill 1.7858s ease-in-out 0.295132s;}
#bgt388{transition: fill 0.924185s ease-in-out 1.57028s;}
#bgt389{transition: fill 1.16573s ease-in-out 1.76238s;}
#bgt390{transition: fill 0.672488s ease-in-out 1.84649s;}
#bgt391{transition: fill 1.30911s ease-out 1.05284s;}
#bgt392{transition: fill 0.99099s linear 1.49453s;}
#bgt393{transition: fill 0.996011s ease-out 1.90721s;}
#bgt394{transition: fill 1.9448s ease-out 0.0839642s;}
#bgt395{transition: fill 1.57165s ease-in 0.89389s;}
#bgt396{transition: fill 0.725723s ease-in-out 2.11716s;}
#bgt397{transition: fill 1.02873s ease-out 1.8938s;}
#bgt398{transition: fill 1.40769s ease-in-out 1.45363s;}
#bgt399{transition: fill 0.568348s linear 1.81495s;}
#bgt400{transition: fill 0.821028s ease-out 1.98623s;}
#bgt401{transition: fill 1.41797s ease-in-out 0.587367s;}
#bgt402{transition: fill 0.539845s ease-out 1.87883s;}
#bgt403{transition: fill 1.2582s ease-out 1.65311s;}
#bgt404{transition: fill 0.964678s ease-in 1.94359s;}
#bgt405{transition: fill 0.776576s ease-in 1.46358s;}
#bgt406{transition: fill 1.68841s linear 0.624356s;}
#bgt407{transition: fill 0.702284s linear 2.06843s;}
#bgt408{transition: fill 1.98101s ease-in 0.981915s;}
#bgt409{transition: fill 1.49085s linear 1.47128s;}
#bgt410{transition: fill 1.70593s ease-in-out 1.09392s;}
#bgt411{transition: fill 0.669037s ease-in 2.23537s;}
#bgt412{transition: fill 0.909946s ease-in 1.71776s;}
#bgt413{transition: fill 1.38946s ease-in-out 1.53547s;}
#bgt414{transition: fill 1.32896s linear 1.36995s;}
#bgt415{transition: fill 1.81795s ease-out 0.882926s;}
#bgt416{transition: fill 1.09274s linear 1.54823s;}
#bgt417{transition: fill 1.57832s ease-out 1.09736s;}
#bgt418{transition: fill 0.692998s linear 2.29287s;}
#bgt419{transition: fill 0.600203s ease-in-out 1.74939s;}
#bgt420{transition: fill 1.76608s ease-in 0.521791s;}
#bgt421{transition: fill 0.823975s ease-in 1.507s;}
#bgt422{transition: fill 1.77494s ease-out 0.614428s;}
#bgt423{transition: fill 1.62697s ease-in 0.451669s;}
#bgt424{transition: fill 1.34624s ease-in 1.54859s;}
#bgt425{transition: fill 1.69708s ease-in-out 1.06418s;}
#bgt426{transition: fill 1.68504s ease-in 0.819419s;}
#bgt427{transition: fill 1.95499s ease-in-out 0.165485s;}
#bgt428{transition: fill 1.94504s ease-in-out 0.370807s;}
#bgt429{transition: fill 0.857572s linear 1.98593s;}
#bgt430{transition: fill 1.55724s ease-out 1.19315s;}
#bgt431{transition: fill 0.700543s ease-in 1.64717s;}
#bgt432{transition: fill 0.732456s ease-out 2.03449s;}
#bgt433{transition: fill 1.65843s ease-out 1.14042s;}
#bgt434{transition: fill 0.826291s linear 1.8967s;}
#bgt435{transition: fill 1.45145s ease-in-out 1.49264s;}
#bgt436{transition: fill 1.77853s linear 0.258206s;}
#bgt437{transition: fill 0.915348s ease-in-out 1.15382s;}
#bgt438{transition: fill 1.07291s linear 1.44389s;}
#bgt439{transition: fill 0.931255s linear 1.34359s;}
#bgt440{transition: fill 0.856656s ease-in-out 2.04168s;}
#bgt441{transition: fill 1.7907s linear 0.873722s;}
#bgt442{transition: fill 1.19641s ease-in 1.38055s;}
#bgt443{transition: fill 1.22206s linear 1.53261s;}
#bgt444{transition: fill 1.07356s ease-out 1.90179s;}
#bgt445{transition: fill 1.85042s ease-in 0.602502s;}
#bgt446{transition: fill 0.727741s ease-in 1.30272s;}
#bgt447{transition: fill 1.597s ease-out 0.529495s;}
#bgt448{transition: fill 1.65121s linear 0.835142s;}
#bgt449{transition: fill 0.743048s linear 1.54765s;}
#bgt450{transition: fill 0.914847s linear 1.42852s;}
#bgt451{transition: fill 1.53944s ease-in-out 0.997577s;}
#bgt452{transition: fill 1.73734s ease-in-out 0.303538s;}
#bgt453{transition: fill 1.05777s ease-out 1.16403s;}
#bgt454{transition: fill 1.41676s ease-in 0.945729s;}
#bgt455{transition: fill 1.16169s ease-in 0.843596s;}
#bgt456{transition: fill 1.85018s linear 0.847994s;}
#bgt457{transition: fill 1.18914s ease-out 1.06031s;}
#bgt458{transition: fill 1.63086s ease-in-out 1.09304s;}
#bgt459{transition: fill 1.76656s ease-in-out 1.04117s;}
#bgt460{transition: fill 0.685379s ease-out 1.67659s;}
#bgt461{transition: fill 0.808211s ease-out 2.10209s;}
#bgt462{transition: fill 1.49104s ease-in-out 1.30335s;}
#bgt463{transition: fill 0.713152s ease-in 1.58392s;}
#bgt464{transition: fill 0.596033s ease-in 2.24028s;}
#bgt465{transition: fill 1.45274s ease-in-out 1.39995s;}
#bgt466{transition: fill 1.36352s ease-out 0.846462s;}
#bgt467{transition: fill 0.731094s ease-in-out 1.27532s;}
#bgt468{transition: fill 0.564739s ease-in 1.75532s;}
#bgt469{transition: fill 1.08385s ease-out 1.68732s;}
#bgt470{transition: fill 0.931941s ease-out 1.64352s;}
#bgt471{transition: fill 1.77546s linear 0.312617s;}
#bgt472{transition: fill 1.97963s linear 0.867259s;}
#bgt473{transition: fill 1.26696s linear 1.70862s;}
#bgt474{transition: fill 1.32882s ease-in 0.7051s;}
#bgt475{transition: fill 1.68288s ease-out 0.48808s;}
#bgt476{transition: fill 0.719457s ease-out 1.32713s;}
#bgt477{transition: fill 1.24926s ease-in-out 1.40208s;}
#bgt478{transition: fill 1.52269s ease-out 0.890438s;}
#bgt479{transition: fill 1.30943s ease-out 0.997663s;}
#bgt480{transition: fill 1.69016s ease-in 1.26531s;}