@import './variables.scss';
@import './backgroundtransitions.scss';

@font-face {
  font-family: 'Jaapokki';
  src: url('./assets/fonts/jaapokki-regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/jaapokki-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/jaapokki-regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

html{
  position: relative;
  min-height: 100%;
  
  body{
    margin-bottom: 6rem;
  }
}

.accentColour{
  color: $accentColour;
  stroke: $accentColour;
}

.accentFill{
  fill: $accentColour;
}